/.venv
/basic_langGraph.ipynb
/chk.ipynb
/code.ipynb
/code22.ipynb
/crawl.py
/find_rr.py
/find_rr_usage.py
/Machine Learning Challenge.pdf
/output.csv
/solver_nodes.py
/test.csv
/test.ipynb
/train.csv
/_check_modules.py
/_extract_pdf.py
/_snippet.txt
/__pycache__